.locate {
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 9999;
  top: 120px;
  left: 20px;
  border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.leaflet-tooltip.transparent {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  border: none !important;
  color: white !important;
  font-size: 1rem !important;
  padding-top: 3px !important;
}

.leaflet-tooltip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  border: none !important;
}

.markergroup-active {
  opacity: 0.2 !important;
}

.WMSLegendButtonStyle {
  background-image: url(img/legend-small.png);
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
}
/* Tooltip text */
.WMSLegendButtonStyle .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 105%;
}

.WMSLegendButtonStyle:hover .tooltiptext {
  visibility: visible;
}

.rcorners1 {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.WMSLegendButtonStyleChecked {
  background-image: url(img/legend-small.png);
  border-color: magenta;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
}

/* Tooltip text */
.WMSLegendButtonStyleChecked .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 105%;
}

.WMSLegendButtonStyleChecked:hover .tooltiptext {
  visibility: visible;
}

.WMSLegendStyle {
  border-radius: 15px;
  object-fit: scale-down;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.markerClusterSmall {
  border-radius: 20px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterMedium {
  border-radius: 40px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLarge {
  border-radius: 70px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLargeXL {
  border-radius: 70px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}
